html{
    height:100%;
    min-height:100%;
    }
body{
    background-image: url("images/Tag.jpg");
    min-height: 100%;
    background-size: 400px 400px, cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.jumbotron{
    background-image: url("images/HumbleExample.jpg");
    background-size: cover;

}