body{
    background-image: url("images/Untitled - March 31, 2021 15.41.JPG");
    background-size: 500px;
}
.jumbotron{
    background-image: url("images/HumbleExample.jpg");
    background-size: 500px;

}